
  
<div class="limiter">
    <div class="container-table100">
        
      <div class="wrap-table100" style="margin-top:100px;">
        <form>
          
            <div class="col-twelve"><h1 style="color:#0073B7;margin-left:35%;">Les contres valeurs </h1></div>
          <br><br>
            <br>
          <div class="table">
          
            <div class="row header">
              
              <div class="cell">
                Contre-valeur
              </div>
            </div>
  
  
           
           
  
           
             
            <div class="row roww"  *ngFor= 'let c of contre_val ' >
              <div class="cell" data-title="Full Name">
                {{c.cvj}}
              </div> 
              </div>
             
              
         
                 
                  
              
                       
              
            
  

          </div>
  
          <p style="margin-top:20px;margin-bottom:20px;">
          
          <div class="container-contact100-form-btn">
  
            
            </div>
  
        </form>
      </div>
    </div>
  </div>
  
  